
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

body{
    background:url(Qm123.png)no-repeat;   
}

.bbb img{
width: 30px;
position: absolute; 
top: 610px; 
left: 830px;
font-size: x-large
}


.bb img{
    width: 70px;
    position: absolute; 
    top: 140px;  
    left: 1320px; 
    font-size: x-large 
    }           

    @font-face {
    font-family: "Pokemon GB";
    src: url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.eot?") format("eot"),
         url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.woff") format("woff"),
         url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.ttf") format("truetype"),
         url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.svg#PokemonGB") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  .box {
    font-size: 16px;
    font-family: "Pokemon GB", Arial, sans-serif;
    border-radius: 2px;
    padding: 8px;
    width: 400px;
    height: 68px;
    line-height: 16px;
    margin-left: 950px;
    margin-top: 30px;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
  }
  .box > i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 23px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;
  }
  
  @keyframes bounce {
    from { margin-top: 40px; }
    to { margin-top: 23px; }
  }       
     
   