.container{
    width:495px;
    height:332px;
    position:relative;
}

.background{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#start_menu{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7;
}

#starting_text{
    width: 56%;
    height: 36%;
    top: 70px;
    right: 400px;
    margin:40px auto;
    padding:5px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: #00ace6;
    font-family: monospace;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    position: relative;
    opacity: 0.7;
    z-index:9;
}

#start_button{
    background: #0086b3;
    color: white;
    padding: 10px 30px;
    margin: 0 0 0 190px;
    text-transform: uppercase;
    transition: background,color,box-shadow 1s;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    right: 50px;
    opacity: 0;
}

#start_button:hover{
    padding: 12px 32px;
    color: #0086b3;
    background: white;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);

}

body {
    background: url(htrys.jpg);
    font-family: sans-serif;
    font-size:25px;
    position:relative;
    left: 400px;
    top: 120px;
}

#opponentLandSvg {
    position:absolute;
    top:105px;
    right:2px;
    z-index:1;
}

#MyLandSvg {
    position:absolute;
    top:206px;
    z-index:1;
}


@keyframes slidingland{
    from{right:-200px;}
    to{ right:2px; }
}

#opponent{
    width:180px;
    height:60px;
    background-color: #ccf2ff;
    border:4px solid #00ace6;
    border-radius:10px 2px 10px 2px;
    position:absolute;
    top:14px;
    left:26px;
    z-index:4;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.4);

}


#me {
    width:180px;
    height:60px;
    background-color:#ccf2ff;
    border:4px solid #00ace6;
    border-radius:10px 2px 10px 2px;
    position:absolute;
    right:26px;
    bottom:107px;
    z-index:4;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.4);

}


.text1,.text2,.text3{
    font-size: 15px;
    font-weight: bold;
}

.text2{
    margin-left: 64px;
}


.text4{
    font-size: 15px;
    font-weight: bold;
    margin-left: 64px;
}

#opponenthp,#selfhp{
    width:126px;
    height:6px;
    position: absolute;
    background-color: #47fb59;
    border:none;
}

@keyframes slidingpcl{
    from{right:600px;}
    to{right: 230px;}
}

#oi{
    width:150px;
    height:150px;
    position:absolute;
    right:55px;
    z-index:2;
}


@keyframes sliding{
    from{right:-200px;}
    to{ right:55px; }
}

#si{
    width:150px;
    height:150px;
    position: absolute;
    top: 90px;
    right:285px;
    z-index:2;
}

#serena_avatar{
    position: absolute;
    top: 115px;
    z-index:2;
}

@keyframes slidingpc {
    from{right:600px;}
    to{right:286px;}
}

.commentbox{
    width: 483px;
    height: 95px;
    background-color: #00ace6;
    border: 5px solid #ccf2ff;
    position: relative;
    top: 226px;
    z-index: 4;
    color: white;

}

.option{
    width: 178px;
    height: 95px;
    background-color: white;
    position: absolute;
    top: 231px;
    left: 308px;
    z-index: 6;
    border-left: 6px solid rgba(0,0,0,.2);
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;

}

.attacklist{
    width: 483px;
    height: 95px;
    background-color: white;
    border: 6px solid black;
    position: absolute;
    top: 226px;
    z-index: 6;
    display: none;
}

.textbox1{
  font-size: 16px;
  margin:4px 0 0 4px;
  padding:16px 0 0 8px;
  border-radius:2px;
}

.textbox2{
  font-size: 25px;
  background-color:white;
  margin:5px 0 0 2px;
  padding:5px 0 0 2px;
  border-radius:2px;
}

.fight{
    margin-left: -1px;
}


.textbox3{
    font-size: 18px;
    background-color: white;
    border-radius: 2px;
  }
.attack {
    text-decoration:none;
    color:white;
    font-weight: bold;
    background: #0086b3;
    padding:5px;
    margin: 5px;
    border-radius:10px;
    transition: background 2s;
    width: 200px;
    height: 40px;
}

button:hover{
    background: green;
}

.options{
  font-size: 12px;
  text-decoration:none;
  color:white;
  font-weight: bold;
  background: #0086b3;
  border-radius:10px;
  transition: background 2s;
  /* width: 200px; */
  height: 40px;
  /* display: inline-flex; */
  display: inline;
}
/* .fight{
    margin-left: 10px;
} */

@keyframes fading{
    from{opacity: 0.0;}
    to{opacity: 1;}
}

#ending{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    background: black url('https://drive.google.com/uc?id=1SO5Ct3HUdOfjrgevH2vPrtq6sc--fS53');
    background-repeat: no-repeat;
}

#ending_text{
    color: white;
    font-size: 30px;
    margin-left: 160px;
}

#try_again{
    width: 140px;
    height: 30px;
    left: 180px;
    bottom: 30px;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    background: #00ace6;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
    position: fixed;
}

#end_image{
    position: fixed;
    left: 150px
}
